<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:type" content="website" />
		<title><%= tag.name %></title>
		<meta property="og:title" content="<%= tag.name %>" />
		<meta property="og:url" content="<%= tag.url %>" />
		<meta property="og:description" content="<%= tag.description %>" />
		<meta property="theme-color" content="#2f3136" />
	</head>
	<body>
		<% if (tag.redirect) { %>
		<script>
			window.location.href = "<%= tag.redirect %>";
		</script>

		<a href="<%= tag.redirect %>">Redirecting to <%= tag.redirect %></a>
		<% } else { %>
		<h1><%= tag.name %></h1>
		<p><%= tag.description %></p>
		<% } %>
	</body>
</html>
